-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t('.edit_profile')

= form_tag profile_path, :method => :put, :multipart => true, :id => 'update_profile_form', :class => 'form-horizontal' do
  = render 'profiles/edit_public', :profile => profile, :aspect => aspect, :person => person

  %hr
  %p.heading
    = t('search')

  .well.enclosed-checkbox
    = label_tag 'profile[searchable]', :class => "checkbox" do
      = check_box_tag 'profile[searchable]', true, profile.searchable
      = t('profiles.edit.allow_search')

  %hr
  %p.heading
    = t('nsfw')
  %p
    = t('profiles.edit.nsfw_explanation')
  .well.enclosed-checkbox
    = label_tag 'profile[nsfw]', :class => "checkbox" do
      = check_box_tag 'profile[nsfw]', true, profile.nsfw?
      = t('profiles.edit.nsfw_check')

  = t('profiles.edit.nsfw_explanation2')

  .submit_block
    =yield(:submit_block)

  - unless current_user.profile.phone_verified?
    .activation.text-center
      .activation-header
        %h2 Activeaza contul
      .activation-body
        %p
          %strong
            Pentru a activa contul trebuie sa incarci contul primit de la CMP prin SMS!
        = text_field_tag 'profile[phone_v_code]'
        = submit_tag "Activeaza", :class => "btn creation"
        %p
          Daca ai sters din greseala codul primit prin SMS, sau nu l-ai primit in cele 24 de ore de la crearea contului mai
          = link_to 'cere un cod de activare.', profile_request_verification_code_path, method: :post

