-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t('.edit_account')

.row
  .col-md-12
    #section_header
      = render 'shared/settings_nav'

.row
  .col-md-12
    .row
      .col-md-5
        %h3
          = t('.your_handle')
        %p
          %b= current_user.diaspora_handle
      .col-md-7
        %h3
          = t('.your_email')
        = form_for 'user', url: user_path, html: { class: 'form-inline', method: :put } do |f|
          = f.error_messages
          .form-group
            .col-md-8
              = f.text_field :email, value: @user.unconfirmed_email || @user.email, class: 'form-control'
            .col-md-4
              = f.submit t('.change_email'), class: "btn btn-primary"
        - if @user.unconfirmed_email.present?
          %p= t('.email_awaiting_confirmation', email: @user.email, unconfirmed_email: @user.unconfirmed_email)

    %hr

    .row
      .col-md-12
        %h3
          = t('.change_password')
        = form_for 'user', url: user_path, html: { class: 'form-horizontal', method: :put } do |f|
          = f.error_messages
          .form-group
            .col-md-4
              = f.label :current_password, t('.current_password'), class: 'control-label'
            .col-md-8
              = f.password_field :current_password, placeholder: t('.current_password_expl'), class: 'form-control'
          .form-group
            .col-md-4
              = f.label :password, t('.new_password'), class: 'control-label'
            .col-md-8
              = f.password_field :password, placeholder: t('.character_minimum_expl'), class: 'form-control'
          .form-group
            .col-md-4
              = f.label :password_confirmation, t('password_confirmation'), class: 'control-label'
            .col-md-8
              = f.password_field :password_confirmation, placeholder: t('.character_minimum_expl'), class: 'form-control'
          .submit_block
            = link_to t('cancel'), edit_user_path, class: 'btn btn-link'
            = t('or')
            = f.submit t('.change_password'), class: 'btn btn-primary'

    %hr

    .row
      .col-md-12
        %h3
          = t('.change_language')
        = form_for 'user', url: user_path, html: { class: 'form-inline', method: :put } do |f|
          = f.error_messages
          .form-group
            = f.select :language, available_language_options, {}, { class: 'form-control' }
            = f.submit t('.change_language'), class: "btn btn-primary"

    %hr

    .row
      .col-md-12
        %h3#stream-preferences
          = t('.stream_preferences')
        = form_for current_user, url: user_path, html: { class: 'form-inline', method: :put } do |f|
          = f.error_messages
          = f.fields_for :stream_preferences do |type|
            #stream_prefs
              = f.label :show_community_spotlight_in_stream do
                = f.check_box :show_community_spotlight_in_stream
                = t('.show_community_spotlight')
              = f.label :getting_started do
                = f.check_box :getting_started
                = t('.show_getting_started')
            = f.submit t('.change'), class: 'btn btn-primary'

    %hr

    .row
      .col-md-12
        %h3#auto-follow-back-preferences
          = t('.following')
        = form_for current_user, url: user_path, html: { class: 'form-inline', method: :put } do |f|
          = f.error_messages
          = f.label :auto_follow_back do
            = f.check_box :auto_follow_back
            = t('.auto_follow_back')
          .muted
            = t('.auto_follow_aspect')
          = f.select :auto_follow_back_aspect_id, aspect_options_for_select(current_user.aspects), {}, { class: 'form-control' }
          = f.submit t('.change'), class: 'btn btn-primary'

    %hr

    .row
      .col-md-12
        %h3
          = t('.receive_email_notifications')
        = form_for 'user', url: user_path, html: { class: 'form', method: :put } do |f|
          = f.error_messages
          = f.fields_for :email_preferences do |type|
            #email_prefs
              - if current_user.admin?
                .checkbox
                  = type.label :someone_reported do
                    = type.check_box :someone_reported, {checked:  @email_prefs['someone_reported']}, false, true
                    = t('.someone_reported')
              .checkbox
                = type.label :started_sharing do
                  = type.check_box :started_sharing, {checked:  @email_prefs['started_sharing']}, false, true
                  = t('.started_sharing')
              .checkbox
                = type.label :mentioned do
                  = type.check_box :mentioned, {checked:  @email_prefs['mentioned']}, false, true
                  = t('.mentioned')
              .checkbox
                = type.label :liked do
                  = type.check_box :liked, {checked:  @email_prefs['liked']}, false, true
                  = t('.liked')
              .checkbox
                = type.label :reshared do
                  = type.check_box :reshared, {checked:  @email_prefs['reshared']}, false, true
                  = t('.reshared')
              .checkbox
                = type.label :comment_on_post do
                  = type.check_box :comment_on_post, {checked:  @email_prefs['comment_on_post']}, false, true
                  = t('.comment_on_post')
              .checkbox
                = type.label :also_commented do
                  = type.check_box :also_commented, {checked:  @email_prefs['also_commented']}, false, true
                  = t('.also_commented')
              .checkbox
                = type.label :private_message do
                  = type.check_box :private_message, {checked:  @email_prefs['private_message']}, false, true
                  = t('.private_message')
          = f.submit t('.change'), class: "btn btn-primary"

    %hr

    .row
      .col-md-8#account_data
        %h3
          = t('.export_data')
        = link_to t('.download_xml'), export_user_path, class: "btn btn-primary"
        = link_to t('.download_photos'), "#", class: "btn btn-primary", id: "photo-export-button", title: t('.photo_export_unavailable')
      .col-md-4
        %h3
          = t('.close_account_text')
        =link_to t('.close_account_text'), '#close_account_pane', rel: 'facebox', class: "btn btn-primary", id: "close_account"
        .hidden#close_account_pane{rel: 'facebox'}
          #inner_account_delete
            %h1
              = t('.close_account.dont_go')
            %p
              = t('.close_account.make_diaspora_better')
            .row
              .col-md-6
                = image_tag 'sadcat.jpg'
                %small
                  %b
                    = t('.close_account.mr_wiggles')
              .col-md-6
                %ul
                  %li
                    = t('.close_account.what_we_delete')
                  %li
                    = t('.close_account.locked_out')
                  %li
                    = t('.close_account.lock_username')
                %p
                  %b
                    = t('.close_account.no_turning_back')

                = form_for 'user', url: user_path, html: { method: :delete } do |f|
                  = f.error_messages
                  .form-group
                    = f.label :close_account_password, t('.current_password'), for: :close_account_password
                    = f.password_field :current_password, id: :close_account_password
                  .form-group
                    = f.submit t('.close_account_text'), class: "btn btn-danger", id: "close_account_confirm",
                      data: { confirm: t('are_you_sure_delete_account') }
