.container.blue-background
  .row
    .flower
      .text-center
        %h1
          Inregistrare
        %p in 3 pasi!
        %hr
        %p
          Nu sunt acceptate conturi de tip escort, masaj, videochat, swing.
  .row
    .span12
      = form_for(resource, :url => registration_path(resource_name), :html => {:class => "form-horizontal row", :autocomplete => "off"}) do |f|
        %fieldset.span4
          .control-group
            %label.control-label{:for => "user_email"} Email
            .controls
              = f.email_field :email, :placeholder => "utilizator@example.com", :title => t('registrations.new.enter_email'), :required => true
          .control-group
            %label.control-label{:for => "user_password"} Parola
            .controls
              = f.password_field :password, :placeholder => "••••••••", :title => t('registrations.new.enter_password'), :required => true, :pattern => "......+"
          .control-group
            %label.control-label{:for => "user_password_confirmation"} Confirma parola
            .controls
              = f.password_field :password_confirmation, :placeholder => "••••••••", :title => t('registrations.new.enter_password_again'), :required => true, :pattern => "......+"
          .control-group
            %label.control-label{:for => "user_username"} Username
            .controls
              = f.text_field :username, :placeholder => "jedi_guy", :title => t('registrations.new.enter_username'), :required => true, :pattern => "[A-Za-z0-9_]+"

        %fieldset.span4
          .control-group
            %label.control-label{:for => "profile_admire"} Admir
            .controls
              = select :profile, :admire, [["un barbat", "b"], ["o femeie", "f"]]
          .control-group
            %label.control-label{:for => "profile_locality"} Localitate
            .controls
              = select :profile, :locality, [["Valea calugareasca", "br"], ["bucuresti", "bc"]]
          .control-group
            %label.control-label{:for => "profile_county"} Judet
            .controls
              = select :profile, :county, [["braila", "br"], ["bucuresti", "bc"]]
          .control-group
            %label.control-label{:for => "profile_birthday"} Data nasterii
            .controls
              = date_select :profile, :birthday, { :prompt => true, :default => true, :order => t('date.order'), :start_year => 2000, :end_year => 1910 }, { :class => 'span1' }

        %fieldset.span4
          - if AppConfig.settings.captcha.enable?
            #captcha
              = show_simple_captcha(:object => 'user', :code_type => 'numeric')
          = invite_hidden_tag(invite)
        %hr
        .text-center
          %h5
            %strong
              Pentru siguranta suplimentara, toate conturile CineMaPlace sunt activate prin SMS!
          %h6
            Vei primi un sms cu un cod de verificare pe care il vei folosi pentru a activa contul. Codul este valabil 24 de ore. Daca nu-l activezi, contul va fi sters.
        .text-center
          = text_field :profile, :phone, :placeholder => "Numar de telefon"
        .text-center
          %p.attention
            Vei primi imediat un cod pentru activarea contului. Numarul tau de telefon ramane privat,
            este insa folosit de persoane care te cunosc in viata reala si vor sa afle daca ai cont pe CMP.
        - if AppConfig.settings.terms.enable?
          #terms.text-center
            = t('.terms', terms_link: link_to(t('.terms_link'), terms_path, target: "_blank")).html_safe

        .text-center
          = f.submit t('.continue'), class: "button creation text-center", data: {disable_with: t('.submitting')}
