-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  = javascript_include_tag :home
  - if AppConfig.chat.enabled?
    = javascript_include_tag :jsxc, :id => 'jsxc',
      :data => { :endpoint => get_bosh_endpoint }

- if current_user.getting_started?
  #welcome-to-diaspora
    .row
      .right
        = link_to image_tag('close_label.png'), getting_started_completed_path, :id => "gs-skip-x"
      .col-md-12
        %h1
          = t('aspects.index.welcome_to_diaspora', :name => current_user.first_name || current_user.username)
        %h3
          = t('aspects.index.introduce_yourself')
  %br
  %br
  %br

#aspect_stream_container.stream_container
  = render 'aspects/aspect_stream', :stream => @stream

%a{:id=>"back-to-top", :title=>"#{t('layouts.application.back_to_top')}", :href=>"#"}
  &#8679;
